# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
.settings/
gradlew.bat

# Ignore IntelliJ project files
.idea
gcp-variant-transforms-java.iml
